* {
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: grid;
    text-align: center;
}

form button, form input {
    width: 200px;
    display: block;
    margin-bottom: 8px;
    padding: 8px;
}

.container {
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    text-align: center;
}

form button {
    background-color: #1a4edb;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0d2c83;
}

input:focus {
    outline-color: #0d2c83;
}
